section{
    margin-top: 20px;
    padding: 10px
}

.subtitle {
    color: var(--bs-red);
}

.text {
    color: var(--bs-blue);
}

.container{
    margin-bottom: 20px;
}

.my-font{
    font-family: 'Poppins', sans-serif;
}
